#advanced-filter{
    background : url('../images/food-pattern.png') #fff;
    background-size: 400px;
    padding : 100px 30px;
}
.row .filter-wrapper{
    position: fixed;
    height: 100%;
}
.filter-wrapper ul{
    list-style : none;
}
.filter-wrapper label{
    font-weight : 300;
    display: inline-block;
    vertical-align: middle;
    margin-left : 7px;
}

.filter-wrapper h6{
    font-size: 2rem;
}

