
html{
    font-size : 62.5%;
}
body{
    font-size : 1.4rem;
    line-height : 1.5;
}
.flex{
    display : flex !important;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    margin-top: 0;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit']{
    border : none;
}
blockquote, dl, figure, form, ol, p, pre, table, ul{
    margin : 0;
}


.icn{
    width: 25px;
    height: 25px;
}
.icn-dice{
    background-image: url('../images/icones/dice.svg')
}
.icn-profile{
    background-image: url('../images/icones/profile.svg')
}