body{
    line-height : 1.5;
    font-family: 'montserrat', sans-serif;
    background-color: #eee;
    position : relative;
    padding-bottom : 70px;
}

a{
    color : #ed3851
}
a:hover{
    color : #ca3045;
}


h2{
    font-family: 'Paytone One', sans-serif;
    color :#ed3851;
    font-size: 3rem;
}

h3{
    font-family: 'Paytone One', sans-serif;
    color :#ed3851;
    font-size: 3rem;
}

.column.flex{
    display : flex;
}
.button-general {
    margin:0 auto;
    border-radius: 15px;
    background-color: #0cc3bd;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.09);
    padding : 10px 20px;
    margin-top: 30px;
    font-weight : 700;
}
.button-general span{
    color : #fff;
    display : inline-block;
    vertical-align: middle;

}
.add-circle {
    width: 25px;
    height: 25px;
    background-color: #0cb4af;
    border-radius: 12px;
    text-align: center;
    margin-right: 5px;
    font-size: 1.9rem;
} 

.button-general:hover {
    background-color: #0ddbd5;
}

body .row{
    margin : 0;
    width : 100%;
}

h5{
    font-weight : 700;
}

