@font-face {
    font-family: 'montserrat-medium';
    src: url('fonts/montserrat-medium.eot');
    src: url('fonts/montserrat-medium.woff2') format('woff2'),
         url('fonts/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('fonts/montserrat-bold.eot');
    src: url('fonts/montserrat-bold.woff2') format('woff2'),
         url('fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'playtone';
    src: url('fonts/playtone.eot');
    src: url('fonts/playtone.woff2') format('woff2'),
         url('fonts/playtone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}