.input-container {
  display: flex;
  flex-direction: column;
}

main input, 
select, 
textarea {
  display: inline-block;
  background: #fff;
  margin-top: 5px;
  max-width : 700px;
}
input:disabled{
  background: transparent;
}

main input:focus,
select:focus,
#description-etab:focus {
  outline: none;
  border: 0.1rem solid #0ddbd5;
}

#form label {
  margin: 10px 0;
  max-width: 750px;
  display: inline-block;
}
textarea{
  height : auto
}

