header.row.row-responsive{
    width : 100%;
    height : 170px;
    background-color:#ed3851;
    flex-direction: row;
    justify-content: space-between;
    margin : 0;
    color : #fff;
    position : relative;
    font-weight : 700;
}

header::after{
    content: ' ';
    background-image: url('../images/bar-stripped.png');
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

header a,
header a:hover{
    color : #fff;
}
header .column{
    height : 100%;
}
.row .column{
    padding : 0;
}

#logo-wrapper{
    position : relative;
    width: 180px;
    height : 200px;
    background-color: #ca3045;
    padding : 10px;
    text-align: center;
    margin-left : 70px;
    margin-right: 30px;
    z-index : 10;
}
#logo-wrapper::after{
    content: '';
    position : absolute;
    width : 0;
    height : 0;
    bottom : -50px;
    left : 0;
    border-right : 90px solid transparent;
    border-left : 90px solid transparent;
    border-top : 50px solid #ca3045;
}
.logo img{
    max-width : 155px;
}
h1{
    font-family: 'Paytone One', sans-serif;
    color : #fff;
    font-size : 3rem;
    align-self: center;
}

#choice-wrapper{
    display : flex;
    justify-content: center;
    align-items: center;
    color : #fff;
}

header form{
    width: 300px;
    position: relative;
    z-index: 20;
}
header form.search input[type='text']{
    border-radius : 20px;
    background : #fff;
    font-size : 1.3rem;
}
header form.search .btn-search{
    position: absolute;
    right: 0;
    top: 0;
    background-color : #ca3045;
    border-radius : 0px 20px 20px 0px;
    padding: 0 20px;
}

header form.search .btn-search:hover{
    background-color : #B0002C;
}
header input{
    border : none;
}

form.search::after{
    width : 1px;
    content : "";
    background: #fff;
}

header span{
    display : inline-block;
    vertical-align: middle;
    font-size : 1.6rem;
}
.randomeal-wrapper{
    border-left: 1px solid #fff;
    padding-left: 40px;
    margin-left: 40px;
    cursor: pointer;
}
.randomeal-wrapper span:hover{
    text-decoration: underline
}
.randomeal-wrapper .text-randomeal{
    margin-left : 15px;
}

header .last-column{
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.btn-red{
    padding : 10px 20px;
    background-color : #ca3045;
    border-bottom : 2px solid #B0002C;
}
.btn-red span{
    cursor: pointer;
}
.btn-red:hover{
    background-color : #B0002C;
}
.btn-red .text{ 
    margin-left : 10px;
    display: inline-block;

}
.btn-red.connected .text{
    border-right: 1px solid rgba(255,255,255,0.6);
    margin-right: 16px;
    padding-right: 20px;
}

