.icn{
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: 100%;
    display: inline-block;
}

.icn.icn-dice{
    background-image: url('../images/icones/dice-white.svg');
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
}

.icn.icn-cook{
    background-image: url('../images/icones/hat-cook-red.svg')
}
.icn.icn-budget{
    background-image: url('../images/icones/pig-red.svg')
}
.icn.icn-like{
    background-image: url('../images/icones/like-red.svg');
}
.icn.icn-profile{
    background-image: url('../images/icones/profile-white.svg')
}
.icn.icn-search{
    background-image: url('../images/icones/search.svg')
}
.icn.icn-search-white{
    background-image: url('../images/icones/search-white.svg')
}
.icn.icn-filter-white{
    background-image: url('../images/icones/filter-white.svg')
}
.item-filter.active .icn.icn-cook{
    background-image: url('../images/icones/hat-cook-white.svg')
}
.item-filter.active .icn.icn-budget{
    background-image: url('../images/icones/pig-white.svg')
}
.item-filter.active .icn.icn-like{
    background-image: url('../images/icones/like-white.svg')
}
.icn.icn-location{
    background-image: url('../images/icones/location.svg')
}
.icn.icn-card{
    background-image: url('../images/icones/credit-card.svg')
}
.icn.icn-carrot{
    background-image: url('../images/icones/carrot.svg')
}
.icn.icn-bag{
    background-image: url('../images/icones/bag.svg')
}
.icn.icn-price{
    background-image: url('../images/icones/price.svg')
}

