@import url('milligram-custom.css');
@import url('normalize.css');
@import url('icons.css');
@import url('common.css');
@import url('header.css');
@import url('home.css');
@import url('footer.css');
@import url('responsive.css');
@import url('popup.css');
@import url('list-restos.css');
