main h2{
    position: relative;
    padding : 0 15px 20px 15px;
    font-family: 'Paytone One', sans-serif;
}
main h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom : 0
}
.restaurant{
    background-color: #fff;
    padding : 15px;
}
.restaurant img{
    height : 215px;
    width : 100%;
    object-fit: cover;
    object-position: top;
}

.row.row-responsive .column{
    transition: all 0.2s ease;    
}

