main h2 {
    position: relative;
    padding: 0 15px 20px 15px;
    font-family: 'Paytone One', sans-serif;
}

main h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0
}

.restaurant {
    background-color: #fff;
    padding: 15px;
}

.restaurant img {
    height: 215px;
    transition: height 0.4s ease;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.active .restaurant img{
    height : 350px;
    transition: height 0.4s ease;
}

.more-infos {
    display: none;
}

.active .more-infos {
    display: block;
}
.column.restos-wrapper{
    padding-top: 50px;
}
#list-restos .row.row-responsive .column {
    transition: height 0.6s ease;
    max-height: 500px;
    height: auto;
}

#list-restos .row.row-responsive .column.active {
    transition: max-height 0.6s ease;
    max-height: 800px;
    height: auto;
}

.restaurant span{
    display : inline-block;
    vertical-align: middle;
    margin-right : 5px;
}

.restaurant .simple-infos{
    cursor : pointer;   
}
.active .restaurant .simple-infos{
    cursor : auto;   
}

.restaurant .like-wrapper{
    text-align: right;
    margin-bottom: 10px;
    cursor : pointer;
}

.restaurant .price-wrapper{
    border-top: 1px solid #d7d7d7;
    padding-top: 10px;
}
.restaurant a{
    margin-bottom : 1em;
}

.filter-wrapper h6{
    font-family: 'Paytone One', sans-serif;
}

