
#popup-cnx {
  display:none;
}

#close-popup {
  display:block;
}

/* The Modal (background) */
.popup-outline {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(193, 193, 193, 0.6);
  padding-top: 50px;
}

#popup-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  justify-content: space-around;
  
}
/* Modal Content/Box */
.form-content {
  padding:5rem;
}

/* The Close Button (x) */
.close-popup-btn {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close-popup-btn:hover,
.close-popup-btn:focus {
  color: #ed3851;
  cursor: pointer;
}
